@font-face {
  font-family: "Orbit";
  src: url(./fonts/Orbitron-VariableFont_wght.ttf);
}
body {
  font-family: "Orbit";
  background-color: rgb(156, 251, 242);
  background-size: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  letter-spacing: 2px;
}
a {
  color: white;
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 26px;
  color: black;
  letter-spacing: 2px;
}
.info,
.skills,
.code,
.experience,
.projects,
.english {
  padding: 30px 15px;
  border-bottom: 2px solid black;
}

/*           HEADER           */

.header {
  padding: 30px 15px;
}
.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 15px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.menu__item a,
h1,
h2 {
  color: black;
  letter-spacing: 2px;
}
.menu__item {
  transition-duration: 1.5s;
}
.menu__item:hover {
  transform: scale(1.1);
  transition-duration: 1.5s;
}

/*                          */

/*           SECTION INFO           */

.info {
  display: flex;
  letter-spacing: 5px;
}
.info__author {
  margin-right: 50px;
}
.author {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.author__name {
  padding: 15px 15px 5px 15px;
  text-align: center;
}
.author__avatar {
  border-radius: 50px;
}
.contacts__list {
  display: flex;
  max-width: 300px;
  align-items: center;
  justify-content: space-between;
}
.contacts__item:not(:last-child) {
  margin-right: 10px;
}
.contacts__item img {
  width: 25px;
  height: 25px;
  transition-duration: 1s;
}
.contacts__item img:hover {
  transform: scale(1.5);
  transition-duration: 1s;
}
.about__title {
  margin-bottom: 15px;
  text-align: center;
  letter-spacing: 5px;
}
.about__text {
  font-size: 14px;
  line-height: 40px;
  padding: 0px 15px;
  text-indent: 20px;
  letter-spacing: 5px;
}
.about__text p:not(:last-child) {
  margin-bottom: 20px;
}

/*                          */

/*           SECTION SKILLS           */

.skills {
  display: flex;
  flex-direction: column;
}
.skills__title {
  margin-bottom: 10px;
}
.skills__content {
  display: flex;
  justify-content: space-around;
}
.skills__list {
  padding: 20px;
}
.skills__item {
  font-size: 18px;
}
.skills__item:not(:last-child) {
  margin-bottom: 10px;
}

/*                          */

/*           SECTION CODE           */

.code__title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.code__title img {
  width: 30px;
  height: 30px;
}
.code__title h2 {
  margin-right: 10px;
}
.code__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.code__item {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}
.code__item:not(:last-child) {
  margin-bottom: 10px;
}

/*                          */

/*           SECTION EXPERIENCE           */

.experience__title {
  margin-bottom: 15px;
}
.work__experience {
  margin-bottom: 30px;
}
.work__experience a {
  text-decoration: underline;
}
.proof__screenshots {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.proof__screenshots img {
  width: 80%;
  border: 1px solid black;
  border-radius: 10px;
}
.proof__screenshots img:not(:last-child) {
  margin-bottom: 10px;
}
.work__experience a {
  color: black;
}
.work__experience p {
  line-height: 30px;
}

/*                          */

/*           SECTION ENGLISH           */

.english__title {
  margin-bottom: 15px;
}

/*                          */

/*           SECTION EXPERIENCE           */

.projects__title {
  margin-bottom: 20px;
}
.projects a {
  color: black;
  text-decoration: underline;
}
.projects img {
  width: 80%;
  margin-bottom: 10px;
}
.project_1,
.project_2,
.project_3 {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project_1__title,
.project_2__title,
.project_3__title {
  margin-bottom: 10px;
}

/*           FOOTER           */


.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 15px;
}
.rsschool__logo,
.github__page {
  margin-right: 15px;
}
.github__page a img {
  width: 45px;
  height: 45px;
  display: inline-block;
}
.rsschool__logo a img {
  width: 100px;
  height: 40px;
}

/*                          */
